<h1>Role Authorizations Templates</h1>

<h2>Select Role to view authorizations</h2>

<table>
  <tr>
	<th>role_id</td>
	<th>role_name</td>
	<th>role_desc</td>
	<th>status</td>
    <th>See</th>
    <th>Edit</th>
  </tr>
 
  <% @roles.each do |vRole| %>
    <tr>
      <td><%= vRole.role_id %></td>
      <td><%= vRole.role_name %></td>
      <td><%= vRole.role_desc %></td>
      <td><%= vRole.status %></td>
      
	  <td><%= link_to 'Show', roleauthtemplate_path(vRole) %></td>

      <td><%= link_to 'Edit', edit_roleauthtemplate_path(vRole) %></td>
	  
    </tr>
  <% end %>
</table>
