<h1>Role Authorizations</h1>

<%= link_to 'Back to Role list', roleauthtemplates_path %>
<hr/>

<table>
  <tr>
	<th>role_id</th>
	<th>action_id</th>
	<th>feature_id</th>
	<th>action_name</th>
	<th>status</th>
	<th>add_by</th>
	<th>add_on</th>
	<th>edit_by</th>
	<th>edit_on</th>
  </tr>
 
  <% @roleTemplates.each do |vRT| %>
    <tr>
      <td><%= vRT.role_id %></td>
      <td><%= vRT.action_id %></td>
      <td><%= vRT.feature_id %></td>
      <td><%= vRT.action_name %></td>
      <td><%= vRT.status %></td>
      <td><%= vRT.add_by %></td>
      <td><%= vRT.add_on.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= vRT.edit_by %></td>
      <td><%= vRT.edit_on.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>
  <% end %>
</table>

<hr/>
<%= link_to 'Back to Role list', roleauthtemplates_path %>
