<%= form_for @userAuthActions, :url => { :action => "update" } do |vUAA| %>
<%= vUAA.hidden_field :staff_id %>

<h1>Authorizations</h1>
<code>
  <%= pp "Rendered at #{DateTime.now.strftime("%Y-%m-%d %H:%M:%S")}"  %>
</code>

<h2>for <%= @userAuthActions.full_name %></h2>
<h4>
	|
	<%= @userAuthActions.ssn %> |
	<%= @userAuthActions.staff_id %> | 
	<%= @userAuthActions.nickname %> | 
	<%= @userAuthActions.email %> | 
	<%= @userAuthActions.mphone %> | 
</h4>
<%#= pp @userAuthActions.attributes %>

<div>
<%= link_to 'Back to staff register', userauthmap_index_path %>
</div>
<br/>
	<%= 
	button_tag(type: 'submit') do
		  content_tag(:strong, 'Save me!')
		end
	%>

<table >
  <tr>
	<th>Action id</td>
	<th>Feature ID</td>
	<th>Action Code</td>
	<th>Action Name</td>
	<th>Action Description</td>
	<th>Status</td>
  </tr>

  <%= vUAA.fields_for :user_auths_form do |fUAE| %>

	<%= 
	## Debugging code to identify way to render value of field as plain text
	# pp " | Dumping debug data | "
  	# pp fUAE.object.action_code
	# debug fUAE.inspect
	%>

	<%= fUAE.hidden_field :action_id %>
	<%= fUAE.hidden_field :feature_id %>
	<%= fUAE.hidden_field :action_name %>
	<%= fUAE.hidden_field :status_curr, {class: "curr-val", data: {current: true}}%>

    <tr>
      <td> <%= fUAE.object.action_id %> </td>
      <td> <%= fUAE.object.feature_id %> </td>
	  
      <td> <%= fUAE.object.action_code %> </td>
      <td> <%= fUAE.object.action_name %> </td>
      <td> <%= fUAE.object.action_desc %> </td>
      <td> <%= fUAE.select :status_new, @AuthStatusArray %></td>
    </tr>
  <% end %>

</table>

	<hr/>
	<%= 
	button_tag(type: 'submit') do
		  content_tag(:strong, 'Save me!')
		end
	%>

<% end %>
