<h1>Authorization Map</h1>
<h2>Select staff member to view authrizations</h2>

<table>
  <tr>
	<th>id</td>
	<th>Staff ID</td>
	<th>Name</td>
	<th>Email</td>
	<th>status</td>
    <th></th>
  </tr>
 
  <% @staffs.each do |vStaff| %>
    <tr>
      <td><%= vStaff.id %></td>
      <td><%= vStaff.staffnum %></td>
      <td><%= vStaff.fn %> <%= vStaff.mi %> <%= vStaff.ln %></td>
      <td><%= vStaff.email %></td>
      <td><%= vStaff.ststatus %></td>
      <td><%= link_to 'Show', edit_userauthmap_path(vStaff) %></td>
    </tr>
  <% end %>
</table>


