<h1>Actions for Feature features</h1>
 
<%= link_to 'Create New Action', new_action_path %>

<table>
  <tr>
	<th>action_id</td>
	<th>action_code</td>
	<th>action_name</td>
	<th>action_desc</td>
	<th>status</td>
	<th>Belongs To</td>
	<th>Last Edit</td>
    <th></th>
    <th></th>
  </tr>
 
  <% @actions.each do |vAction| %>
    <tr>
      <td><%= vAction.action_id %></td>
      <td><%= vAction.action_code %></td>
      <td><%= vAction.action_name %></td>
      <td><%= vAction.action_desc %></td>
      <td><%= vAction.status %></td>
      <td><%= vAction.feature.feature_code %></td>
      <td><%= vAction.edit_on.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= link_to 'Show', action_path(vAction) %></td>
      <td><%= link_to 'Edit', edit_action_path(vAction) %></td>
    </tr>
  <% end %>
</table>


