<h1>RubyOnRails-A</h1>
<p>Learning Samples</p>


<ul>

<li><div class="lsnding-psge-menu"><%= link_to 'System Roles', controller: 'roles' %></div></li>
<li><div class="lsnding-psge-menu"><%= link_to 'Actions', controller: 'actions' %></div></li>
<li><div class="lsnding-psge-menu"><%= link_to 'Features', controller: 'features' %></div></li>
<li><div class="lsnding-psge-menu"><%= link_to 'Role Authorization Templates', controller: 'roleauthtemplates' %></div></li>
<li><div class="lsnding-psge-menu"><%= link_to 'User Authorization Map', controller: 'userauthmap' %></div></li>

</ul>

<p>Last Updated at <span>2019-05-07 14:09:28</span></p>
