<h1>Listing Roles</h1>
 
<pre><%= @lsTag %></pre>

<%= link_to 'Create New Role', new_role_path %>

<table>
  <tr>
	<th>role_id</td>
	<th>role_name</td>
	<th>role_desc</td>
	<th>status</td>
	<th>add_by</td>
	<th>add_on</td>
	<th>edit_by</td>
	<th>edit_on</td>
    <th></th>
    <th></th>
  </tr>
 
  <% @roles.each do |vRole| %>
    <tr>
      <td><%= vRole.role_id %></td>
      <td><%= vRole.role_name %></td>
      <td><%= vRole.role_desc %></td>
      <td><%= vRole.status %></td>
      <td><%= vRole.add_by %></td>
      <td><%= vRole.add_on %></td>
      <td><%= vRole.edit_by %></td>
      <td><%= vRole.edit_on %></td>
      <td><%= link_to 'Show', role_path(vRole) %></td>
      <td><%= link_to 'Edit', edit_role_path(vRole) %></td>
	  
    </tr>
  <% end %>
</table>


