<!--
Refer: https://guides.rubyonrails.org/form_helpers.html
see 2.2
:role_id, :role_name, :role_desc, :status


-->
<h1>New Role</h1>
<%= form_for :role, url: roles_path do |f| %>

  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@role.errors.count, "error") %> prohibited
        this role from being saved:
      </h2>
      <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


	<div>
		<%= f.label :role_name %>
		<%= f.text_field :role_name %>
	</div>

	<div>
		<%= f.label :role_desc %>
		<%= f.text_field :role_desc %>
	</div>

	<div>
		<%= f.label :status %>
		<%= f.text_field :status %>
	</div>

  	<%= f.submit "Create" %>

<% end %>



<hr/>
<%= link_to 'Back', roles_path %>
