<p><strong>role_id:</strong><%= @role.role_id %></p>
<p><strong>role_name:</strong><%= @role.role_name %></p>
<p><strong>role_desc:</strong><%= @role.role_desc %></p>
<p><strong>status:</strong><%= @role.status %></p>
<p><strong>add_by:</strong><%= @role.add_by %></p>
<p><strong>add_on:</strong><%= @role.add_on.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p><strong>edit_by:</strong><%= @role.edit_by %></p>
<p><strong>edit_on:</strong><%= @role.edit_on.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p><strong>Current Time:</strong><%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>


<hr/>
<%= link_to 'Back', roles_path %>
