<%= form_for @feature, :url => { :action => "update" } do |vA| %>
	<p>Form will come here</p>
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@feature.errors.count, "error") %> prohibited
        this role from being saved:
      </h2>
      <ul>
        <% @feature.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<div>
		<%= vA.label :feature_code %>
		<%= vA.text_field :feature_code %>
	</div>

	<div>
		<%= vA.label :feature_name %>
		<%= vA.text_field :feature_name %>
	</div>

	<div>
		<%= vA.label :feature_desc %>
		<%= vA.text_field :feature_desc %>
	</div>

	<div>
		<%= vA.label :status %>
		<%= vA.select(:status,@StatusArray) %>

	</div>

	<div> Last updated on  <%= @feature.edit_on.strftime("%Y-%m-%d %H:%M:%S") %> 	</div>
	<div> Current Time is  <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %> 	</div>
	

	<%= 
	button_tag(type: 'submit') do
		  content_tag(:strong, 'Save me!')
		end
	%>


<% end %>


<hr/>
<%= link_to 'Back', features_path %>


