<h1>Listing Features</h1>
 
<%= link_to 'Create New Feature', new_role_path %>

<table>
  <tr>
	<th>feature_id</td>
	<th>feature_code</td>
	<th>feature_name</td>
	<th>feature_desc</td>
	<th>status</td>
	<th>Last edit</td>
    <th></th>
    <th></th>
  </tr>
 
  <% @features.each do |vFeature| %>
    <tr>
      <td><%= vFeature.feature_id %></td>
      <td><%= vFeature.feature_code %></td>
      <td><%= vFeature.feature_name %></td>
      <td><%= vFeature.feature_desc %></td>
      <td><%= vFeature.status %></td>
      <td><%= vFeature.edit_on.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= link_to 'Show', feature_path(vFeature) %></td>
      <td><%= link_to 'Edit', edit_feature_path(vFeature) %></td>
    </tr>
  <% end %>
</table>


