<p><strong>feature_id:</strong><%= @feature.feature_id %></p>
<p><strong>feature_code:</strong><%= @feature.feature_code %></p>
<p><strong>feature_name:</strong><%= @feature.feature_name %></p>
<p><strong>feature_desc:</strong><%= @feature.feature_desc %></p>
<p><strong>status:</strong><%= @feature.status %></p>
<p><strong>add_by:</strong><%= @feature.add_by %></p>
<p><strong>add_on:</strong><%= @feature.add_on.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p><strong>edit_by:</strong><%= @feature.edit_by %></p>
<p><strong>edit_on:</strong><%= @feature.edit_on.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p><strong>Current Time:</strong><%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>

<hr/>
<%= link_to 'Back', features_path %>
